[Unit]
Description=Smart planter service for CSCE 462 project

[Service]
WorkingDirectory=/home/pi/22c-462-planter/hub/
ExecStart=/home/pi/22c-462-planter/hub/startup.sh

[Install]
WantedBy=default.target
